body {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
a{
  text-decoration: none;
  color: #000000;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  /* border: 1px solid red; */
}

.header {
  width: 100%;
  background-color: black;
  padding: 5px;
}

.header .container {
  justify-content: space-between;
  
}

.header a {
  color: #ffffff;
}


.menu {
  list-style: none;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.menu-item{
  padding: 0 10px;
  color: #fff;
}
.menu :hover{
  text-decoration: underline;
  cursor: pointer;
}
.logo{
    height: 60px;
}

#criar-conta{
  font-weight: bold;
}


/* banner */

.banner {
  width: 100%;
  margin: auto;
  height: 300px;
  background-image: url(../assets/imgs/beatles-header-sgt-pepper-2.jpg);
  background-size:cover;
  
}

.banner .container {
  height: fit-content;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
}
.banner a{
  color: #000000;
}
/* content box */
.content-box{
/* */  border: 1px solid red;
  /* width: 30%; */
}

.container{
/* */  border: 1px solid rebeccapurple;
}

.content-link {
  display: flex;
  margin: 0;
  padding: 0;
  

}
.content-box .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.content-box img{
  width: 100px;
}
.content{
/* */  border: 1px solid olivedrab;
  width: 40%;
  margin: 30px;
  padding: 20px;
}

/* FOOTER */

.footer {
  background-color: #000000;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content:space-between;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

button{
  cursor: pointer;
}

.cadastro{
  display: flex;
  width: 15%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.formulario{
  border: 2px solid;
  width: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: white;

}
.formulario input{
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 4px;
}


.formulario button{
  padding: 8px;
  border: 1px solid ;
  border-radius: 4px;
}
.formulario button:hover{
  color: red;
}
#titulo-formulario{
  font-size: 36px;
}
.formulario span{
  font-size: 16px;
  display: block;
}
.campo{
  margin: 15px 0;
}

.sublista {
  display: none;
}
.show-hide-button{
  border: none;
  background:none;
  display: block;
  padding: 5px;
}
.show-hide-button:hover{
  text-decoration: underline;
}
.table-discos{
  margin: 15px;
/* */  border: 1px solid;
  display: flex;
}

.table-discos h2{
  display: flex;
  /* justify-content: center; */
}
  .table-discos span{
    border: 1px solid;
    }
.disc-list{
  width: 30%;
  font-size: 15px;
}
.disc-list li{
  padding: 5px;
}
.texto{
  padding: 10px 80px;
  width: 100%;
}
/* .disc-list{
  border: 1px solid gold;
  display: flex;
}
.disc-list li{
  border: 1px solid gold;
  display: flex;
} */
.comentarios{
  display: flex;
  border: 1px solid turquoise;
  flex-direction: column;
}
.publicacao{
  padding: 10px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}
.publicacao-nome {
  border: 2px solid red !important;
  padding: 10px;

}
.publicacao-nome-autoral{
  border: 2px solid blue !important;
}
.publicacao-titulo{
  border: 2px solid green !important;
  padding: 10px;
}
.publicacao-descricao{
  border: 2px solid blue;
  padding: 10px;
}
.div-buttons{
  border: 2px solid orangered;
  padding: 10px;
}

.publicacao-btn-editar{
  border: 2px solid purple;
  padding: 10px;
}
#textarea_descricao{
  width: 97%;
}
#titulo{
  width: 50%;
}
.div-form{
  padding: 10px;
}
.publicacao-editar{
  width: 100%;
  height: 100% ;
  /* background-color: #000000; */
}
.publicacao-resposta{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid;
  /* background-color: #000000; */
}
#votacao{

  padding: 50px;
}
#dashboard{
  display: block;
}
#divGrafico {
  width: 800px;
  height: 500px;
}